@page "/movement"
@using Svg


<div class="border-top">
    <SVGComponent SvgSource="maptest.svg"></SVGComponent>
</div>


@code
{

    private SvgDocument? svgDoc;

    protected override async Task OnInitializedAsync()
    {
        svgDoc = SvgDocument.Open<SvgDocument>("C:\\\\Users\\\\David Hoefs\\\\OneDrive\\\\Desktop\\\\maptest.svg");

        StateHasChanged();
    }


}