@page "/movement"
@using Svg
@using SvgLibrary
@inject IJSRuntime JSRuntime

<div class="border-top">
    <SVGComponent SvgSource="maptest.svg"></SVGComponent>
</div>





@code
{

    private SvgDocument svgDoc;

    protected override async Task OnInitializedAsync()
    {
        svgDoc = SvgTest.TestSvg("C:\\Users\\David Hoefs\\OneDrive\\Desktop\\maptest.svg");
        StateHasChanged();
    }


}